.reqCard{
    margin-left: 25%;
    margin-right: 5vw;
    margin-bottom: 3vh;
    font-family: Poppins;
    font-size: 15px;
}

@media (max-width: 800px) {
    .reqCard{
        margin-left: 5%;
    }
}
.reqcard-top{
    padding: 1vh;
    background: linear-gradient(270deg, #71DDB1 -9.55%, #1A4FBA 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    color: rgb(255, 255, 255);
}
.bt{
    padding-right: 5vh;
}
.med-cancel{
    background-color: rgb(215, 58, 58);
    padding: 1vh;
    border-radius: 0.75vh;
    margin: 1vh;
}
.med-cancel:hover{
    background-color: rgb(241, 142, 142);
    color: rgb(200, 0, 0);
    cursor: pointer;
}

.info{
    display: flex;
    justify-content: space-evenly;
}

.but-req{
 justify-content: space-around;
 text-align: right;
 margin-left: auto;
 margin-right: 6vh;
 width: 20vh;
 text-align: center;
 display: flex;
 font-size: 1.7vh;
}

.m1{
    height: 3vh;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    background-color: #778e85;
}
.m1:hover{
    background-color: #8fa09a;
    color: rgb(0, 0, 0);
}

.m2{
    background-color: #267547;
}
.m2:hover{
    background-color: #62e298;
    color: green;
}
