.stockcard_container{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
    font-family: Poppins;
    font-size: 18px;
}
.stockcard-top{
    padding: 1vh;
    width: 100%;
    background: linear-gradient(270deg, #71DDB1 -9.55%, #1A4FBA 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.5vh;
    color: rgb(255, 255, 255);
}

.stock-cancel{
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
    background-color: rgb(215, 58, 58);
    padding: 1vh;
    border-radius: 0.75vh;
}
.stock-cancel:hover{
    background-color: rgb(241, 142, 142);
    color: rgb(200, 0, 0);
}

.scard-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0vh;
    margin-left: auto ;
}

.stock-time{
    display: flex;
    flex-direction: row;
    padding-right: 2vh ;
}

@media (max-width:800px) {
    .stockcard_container{
        font-size: 2.25vw;
    }
}
.stockconf{
    color: white;
    margin-right: 0vh;
}
.stock-quant{
    width: 100px;
}
.new{
    display: flex;
    align-items: center;
    margin-left: 5vh;
}