.stock-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.stocks-content{
    margin-top: 8vh;
    width: 100%;
    padding-left: 15vw;
}

.search-bar{
    text-align: center;
}

.stocks-search-input{
    border: none;
    margin: 2vh;
    padding: 1vh;
    width: 60%;
    background-color: #716bdb;
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.stocks-search-input:focus{
    outline: none;
}
.search-bar input::placeholder {
    color: #d4d4d4; /* Change this color to your preferred color */
  }
.search-button{
    padding: 0.9vh;
    border: none;
    background: rgb(96, 96, 255);
    border-radius: 0.5vh;
    color: white;
    font-size: 20px;
}

.search-button:hover{
    background: rgb(11, 11, 145);
    cursor: pointer;
}

#add_medicine{
    padding: 0.9vh;
    font-size: 20px;
    border: none;
    background-color: lightgreen;
    color: green;
    cursor: pointer;
    border-radius: 0.5vh;
}

.addMedicineContainer{
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px;
    height: 380px;
    width: 400px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    color: white;
}
.addMedicineContainer input{
    padding: 7px;
}
.buttons_add_medicine{
    display: flex;
    flex-direction: row;
}
#submit_medicine,#cancel_medicine{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
#submit_medicine{
    background-color: green;
}
#cancel_medicine{
    background-color: red;
}
.stock-header{
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: rgb(61, 61, 61);
    padding-bottom: 2vh;
}
@media (max-width: 800px) {
    .stock-header{
        font-size: 5vw;
    }
    .stocks-content{
        padding: 0;
    }
}

.no-results-message{
    text-align: center;
    font-weight: 800;
    color: rgb(180, 18, 18);
    font-size: 3vh;
}

