.bookcard_container{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
    font-family: Poppins;
    font-size: 18px;
}
.bookcard-top{
    padding: 1vh;
    width: 100%;
    background: linear-gradient(270deg, #71DDB1 -9.55%, #1A4FBA 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1.5vh 1.5vh 0vh 0vh;
    color: rgb(255, 255, 255);
}
.book-date{
    padding-right: 5vh;
}
.book-cancel{
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
    background-color: rgb(215, 58, 58);
    padding: 1vh;
    border-radius: 0.75vh;
}
.book-cancel:hover{
    background-color: rgb(241, 142, 142);
    color: rgb(200, 0, 0);
}

.bookcard-bottom{
    padding: 1vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 100%;
    background-color: white;
    border-radius: 0vh 0vh 1.5vh 1.5vh;
}


.prescription-content:focus{
    outline: none;
}